apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cloudops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: omryakawar/cloudops-backend:latest
          ports:
            - containerPort: 3001
          envFrom:
            - secretRef:
                name: backend-secrets
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /core/health
              port: 3001
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /core/health
              port: 3001
            initialDelaySeconds: 20
