version: '3.9'

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: cloudops-backend
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/cloudops
    depends_on:
      - mongo

  frontend:
    image: cloudops-frontend
    ports:
      - "3000:80"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:3001
    depends_on:
      - backend

volumes:
  mongo_data:
